@font-face {
    font-family: space;
    src: url(../assets/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: space;
    cursor: auto;
}
.about{
    /* height: inherit; */
    height: fit-content;
    padding-bottom: 60px;
    width: 100%;
    background: linear-gradient(to right , #07233B , #041A30 , #050D17);
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: end;

}
.effect-1{
    height: 150px;
    width: 150px;
    position: absolute;
    right: 50px;
    top: 120px;
    animation: rotate linear 60s infinite;
}
.effect-2{
    height: 350px;
    width: 350px;
    position: absolute;
    right: 1100px;
    top: 250px;
    animation: rotate linear reverse 60s infinite;
}


.about-in{
    height: fit-content;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.285); */
    display: flex;
    justify-content: center;
}
.main-about{
    width: 85%;
    height: fit-content;
    /* background-color: aqua; */
    display: flex;
}

.photo{
    width: 50%;
    height: inherit;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    padding-right: 30px;
}
.aboutUs{
    /* background-color: blue; */
    width: 50%;
    height: inherit;
}



.main-photo{
    /* height: 600px; */
    /* width: 500px; */
    width: clamp(400px, 33.44vw, 500px);  
    height: clamp(500px, 40.1vw, 600px);
    margin-top: 60px;
    border-radius: 40px;
    border: 1px solid white;
    /* background-color: rgba(255, 255, 255, 0.267); */
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(5px);     
    display: flex;
    /* background-image: url(/public/boy.png); */
    background-image: url(/public/download.jpeg);
    background-position: center;
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
}

.detail{
    height: fit-content;
    padding-top: 70px;
    width: 500px;
    /* background-color: violet; */
    margin-top: 60px;
    margin-left: 30px;
}


.name-about{
    height: fit-content;
    border-radius: 3px;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #06355f;

}
.span-about{
    color: white;
    letter-spacing: 3px;

}
.detail h2{
    font-size: 40px;
    padding-top: 5px;
    font-size: clamp(30px, 2vw, 40px);
    color: white;
}
.frontend{
    color: #0783f6;
}
.detail p{
    color: white;
    font-size: 16px;
    font-family: space;
    padding-top: 20px;
    font-weight: 400;
}


.skills{
    height: fit-content;
    width: inherit;
    margin-top: 20px;
    /* background-color: red; */
    flex-wrap: wrap;
    display: flex;
    gap: 10px;

}

.skill-box{
    height: 100px;
    width: fit-content;
    /* background-color: aqua; */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid hsla(0, 0%, 100%, .15);
    backdrop-filter: blur(5px);     
    /* background-color: rgba(255, 255, 255, 0.267); */
    background-color: rgba(255, 255, 255, 0);

}
/* .skill-box:not(:first-child) {
    margin-left: 20px; 
} */
.skill-box h3{
    font-size: 28px;
    color: white;

}

.skill-box label{
    font-size: 13px;
    color: white;
}
.ab-btn{
    width: 190px;
    cursor: pointer;
    height: 55px;
    background-color: #0888fc;
    color: white;
    border: 0;
    font-size: 16px;
    font-family: space;
    border-radius: 30px;
    transition: background-color ease .5s;
    margin-top: 40px;
}
.ab-btn:hover{
    background-color: #000;
    border: 2px solid white;
}


@media (max-width: 991px) {
    
    .main-about{
        width: 85%;
        height: fit-content;
        /* background-color: aqua; */
        display: block;
    }

    .photo{
        width: 100%;
        justify-content: center;
       
    }
    .aboutUs{
        width: 100%;
        justify-content: center;
        display: flex;
      
    }
    .detail{
       /* background-color: violet; */
       width: 100%;
       margin-left: 0;
    }
   .photo{
    padding-right: 0;
   }
   .effect-2{
    display: none;
   }
   .detail{
    margin-top: 0px;
   }
}


@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        
    }
    
}